@using Microsoft.AspNetCore.Identity

@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

<div class="dropdown-panel">

    <ul class="dropdown-panel-list">
        @if (SignInManager.IsSignedIn(User))
        {

            <li class="menu-title">
                <a id="manage" class="nav-link " asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">Hello @UserManager.GetUserName(User)!</a>
            </li>

            <li class="panel-list-item">
                <form id="logoutForm" class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                    <button id="logout" type="submit" class="nav-link btn btn-link border-0">Logout</button>
                </form>
            </li>
        }
        else
        {
            <li class="menu-category">
                <a class="menu-title" id="register" asp-area="Identity" asp-page="/Account/Register">Register</a>
            </li>
            <li class="menu-category">
                <a class="menu-title" id="login" asp-area="Identity" asp-page="/Account/Login">Login</a>
            </li>
        }

    </ul>
</div>
